body {
    font-family: 'Arial', sans-serif;
    background-color: #e39797;
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
}

label {
    margin-bottom: 4px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
